.nav {
    display: flex;
}

.homepage, .contact, .about {
    margin: 20px;
}

.homepage {
    flex: 1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 400px;
}

.aboutme, .contactme, .notfound {
    text-align: center;
}

.returnlink {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
